<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-icon-button/core-icon-button.html">

<polymer-element name="card-list-item" attributes="width height color icon"
                 on-click="{{showCard}}">
  <template>
    <link rel="stylesheet" href="../../../public/css/card-list-item.css" />
    <link rel="stylesheet" href="../../../public/css/icons.css" />
    
    <div id="container" style="{{styleContainer | styleObject}}">
      <span class="cardIcon cardIcon--{{icon}}"
            style="transform: scale({{iconScale}}); -webkit-transform: scale({{iconScale}})"></span>
      <article id="opened">
        <header id="header" on-click={{showCard}}>
          <core-icon-button id="btnClose" on-click="{{closeDetail}}" icon="close"></core-icon-button>
          <content select="h1"></content>
        </header>
        <div id="contentText">
          <content></content>
        </div>
      </article>
    </div>
  </template>
  
  <script src="card-list-item.js"></script>
</polymer-element>