<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../planets-list/planets-list.html">
<link rel="import" href="../detail-view/detail-view.html">

<polymer-element name="planets-app"
                 on-detail="{{updateDetail}}"
                 on-planets="{{showPlanets}}">
  <template>
    <link rel="stylesheet" href="../../public/css/planets-app.css" />
    
    <div id="container" class="{{detailView}}">
      <planets-list id="planetList"></planets-list>
      <detail-view id="detail" data="{{data}}"></detail-view>
    </div>
  </template>
  
  <script src="planets-app.js"></script>
</polymer-element>