:host {
  display: inline-block;
}

#tabs {
  background-color: #673AB7;
  color: #fff;
}

#tabs::shadow #selectionBar {
  background-color: #FFC107;
}

#tabs paper-tab::shadow #ink {
  color: #FFECB3;
}