:host {
	display: inline-block;
	overflow: hidden;
}

#list {
	position: relative;
}

.scrollNav {
	position: absolute;
	height: 100%;
  width: 50px;
  top: 0;
  z-index: 300;
  opacity: .5;
  transition: transform .3s;
  background-color: #444;
}

#scrollLeft {
	left: 0;
	transform: translateX(-38px);
}

#scrollRight {
	right: 0;
	transform: translateX(38px);
}

#scrollLeft:hover,
#scrollRight:hover {
	transform: translateX(0);
	opacity: .9;
}

#scrollBody {
  height: 100%;
  transition: transform .4s;
}

#scrollBody list-grid-item {
	float: left;
}

.hidden {
	display: none;
}

:host([full]),
:host([full]) #list,
:host([full]) #scrollBody {
	width: 100%!important;
	height: 100%!important;
	overflow: auto;
}